.user_reviews{
    //background-color: var(--color-grey-light-3);
    //text-align: center;
    flex: 1;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    @include respond(layer-6){
        padding: 1rem 2rem;
    }
}