.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    @include respond(layer-7){
        display: flex;
        margin-top: 2rem;
    }
    &_link{
        &:link,
        &:visited{
            text-decoration: none;
            text-transform: uppercase;
            color: var(--color-grey-light-1);
            //display: block;
            padding: 1.5rem 3rem;

            display: flex;
            align-items: center;

            position: relative;
            z-index: 10;
            @include respond(layer-5){
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }
    }

    &-item{
        position: relative;
        @include respond(layer-7){
            flex: 1 0 0;
            display: flex;
            justify-content: center;
        }
        &:not(:last-child){
            margin-bottom: 1rem;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform 0.2s,
                        width 0.4s cubic-bezier(1,1,0,1) 0.2s,
                        background-color 0.1s;

        }
        &:hover::before,
        &-active::before{
            transform: scaleY(1);
            width: 100%;
        }
        &:active::before{
            background-color: var(--color-primary-light);
        }
    }
    &_icon{
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
        margin-right: 1rem;
        @include respond(layer-5){
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}